button { background-color: #DB0337; }

.btn { color: #FFFFFF; }
.btn:hover { color: #FFFFFF; background-color: #9e082c; }

.app { padding: 30px; width: 300px; height: 200px;}

#myChart { display: none; margin-top: 0; }
